@import "styles/colors";

.profile {
  background-color: $background-light-mode-1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &.darkMode {
    background-color: $background-dark-mode-1;

    & > * {
      color: $color-dark-mode;
    }

    .sidebar {
      background-color: $background-dark-mode-2;
    }

  }

  .profile-container {
    display: flex;
    flex:1;
  }
  
  .sidebar {
    background-color: $background-light-mode-2;
    width: 20%;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 20px;
  }
  
  .profile-avatar {
    margin-bottom: 30px;
  }
  
  .avatar-icon {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .menu li {
    margin: 10px 0;
    font-weight: bold;
    margin: 90px 0;
    cursor: pointer;
  }
  
  .profile-content {
    width: 80%;
    padding: 20px;
    margin-left: 100px;
  }
  
  .profile-content h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 40px;
    margin-bottom: 50px;
  }
  
  .profile-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin: 50px 0;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(18, 16, 16);
    border-radius: 4px;
  }
  
  .gender-options {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .gender-options label {
    margin-left: 20px;
  }
  .form-group button{
    background-color: black;
    color: white;
    border-radius: 5%;
    font-size: 15px;
    border: none;
    padding: 5px 5px;
    margin-top: 5px;
  }
  
}