// Dark mode
$color-dark-mode: white;
$background-dark-mode-1: #252525;
$background-dark-mode-2: #333333;
$background-dark-mode-3: #3e3e3e;
$background-dark-mode-4: #4a4a4a;

// Light mode
$color-light-mode: black;
$background-light-mode-1: #e3fdfd;
$background-light-mode-2: #cbf1f5;
$background-light-mode-3: #a6e3e9;
$background-light-mode-4: #71c9ce;

// Custom scroll bar
%share-custom-scrollbar-light {
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-light-mode-3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: $background-light-mode-4;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(183, 49%, 43%);
  }
}

%share-custom-scrollbar-dark {
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-dark-mode-2;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: $background-dark-mode-3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $background-dark-mode-4;
  }
}
