// Dark mode
$color-dark-mode: white;
$background-dark-mode-1: #252525;
$background-dark-mode-2: #333333;
$background-dark-mode-3: #3e3e3e;
$background-dark-mode-4: #4a4a4a;

// Light mode
$color-light-mode: black;
$background-light-mode-1: #e3fdfd;
$background-light-mode-2: #cbf1f5;
$background-light-mode-3: #a6e3e9;
$background-light-mode-4: #71c9ce;
