@import "styles/colors";

.questionDetails {
  background-color: $background-light-mode-2;
  width: 50%;

  margin-inline: auto;

  padding: 24px;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    font-size: 1.25rem;
    gap: 4px;
    position: relative;

    &.required::before {
      content: "*";
      font-size: 1.25rem;
      position: absolute;
      top: 0;
      left: -12px;
      display: block;
      color: red;
    }
  }

  .imageContainer {
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .answers {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .answer {
      label {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        input {
          flex-shrink: 0;
          flex-grow: 0;
          width: 20px;
          height: 20px;
        }
        span {
          font-size: 1.1rem;
        }
      }
    }

    & > p {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  .instruction {
    p {
      font-size: 1.05rem;
      font-style: italic;
    }
  }

  &.view {
    .answers {
      .answer {
        label {
          cursor: default;

          &.trueAnswer {
            color: hsl(240, 100%, 65%);
          }

          &.wrongAnswer {
            color: hsl(0, 100%, 55%);
          }

          &.correctAnswer {
            color: hsl(120, 100%, 40%);
          }
        }
      }
    }
  }

  &.darkMode {
    background-color: $background-dark-mode-2;

    .title {
      color: $color-dark-mode;
    }

    .answers {
      .answer {
        label {
          color: $color-dark-mode;

          input[type="radio"]:disabled {
            appearance: none;
            border-radius: 50%;
            background-color: #ffffff;
            border: 1.5px solid #767676;
            opacity: 0.8;
          }

          input[type="radio"]:disabled:checked {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          input[type="radio"]:disabled:checked::before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #767676;
          }
        }
      }

      & > p {
        color: $color-dark-mode;
      }
    }

    .instruction {
      p {
        color: $color-dark-mode;
      }
    }
  }

  @media (max-width: 1536px) {
    & {
    }
  }

  @media (max-width: 1280px) {
    & {
      width: 60%;
    }
  }

  @media (max-width: 1024px) {
    & {
      width: 65%;
    }
  }

  @media (max-width: 768px) {
    & {
      width: 70%;
    }
  }

  @media (max-width: 640px) {
    & {
      width: 75%;
    }
  }

  @media (max-width: 550px) {
    & {
      width: 80%;
    }
  }

  @media (max-width: 430px) {
    & {
      width: 90%;
    }
  }
}
