@import "styles/colors";

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: 100px;
  max-height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    button {
      border: none;
      outline: none;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 12px;

      min-width: 80px;
      cursor: pointer;
      font-size: 2.5rem;
      border-radius: 4px;

      transition: background-color 0.2s ease-in-out;

      &:hover,
      &:active {
        background-color: rgb(0, 0, 0, 0.1);
      }

      &:disabled {
        color: hsl(0, 0%, 50%);
        cursor: default;
        background-color: transparent;
      }
    }
  }

  &.darkMode {
    .actions {
      button {
        color: $color-dark-mode;

        &:hover,
        &:active {
          background-color: rgb(255, 255, 255, 0.1);
        }

        &:disabled {
          color: hsl(0, 0%, 50%);
          cursor: default;
          background-color: transparent;
        }
      }
    }
  }
}
